*pyc
*.npy
*.mat
*Tex
partial_movies_files/*.mp4
*.png
manim_animations/MesssagePassing/media/videos/VectorizeDD/*/partial_movie_files
*.txt
manim_animations/MesssagePassing/media/videos/Channel_Matrix/720p30/partial_movie_files/Channel/*.mp4
manim_animations/Chapter2/media/videos/Equations1/720p30/partial_movie_files/Channel/*.mp4
manim_animations/MesssagePassing/media/videos/Channel_Matrix/1080p60/partial_movie_files/Channel/*.mp4
manim_animations/Chapter2/media/texts/96a9fe330bd31ce3.svg
OFDM_Equalizer/reports/*.csv
OFDM_Equalizer/Data/v2v80211p_LOS.mat
OFDM_Equalizer/Data/v2v80211p_NLOS.mat
OFDM_Equalizer/App/Autoencoder/lightning_logs/*
*/lightning_logs/*
OFDM_Equalizer/.data/*
*.yaml
*.ckpt
*.tar
*.pth
*.csv
*events.*
*.tar.gz
*test2016*
OFDM_Equalizer/App/Transformers/NaturalLanguage/.data/multi30k/*
*.svgz

OFDM_Equalizer/App/FixedPoint/libtorch/*
OFDM_Equalizer/App/FixedPoint/build/*
Data/kaggle_dataset/v2v80211p_LOS.mat
Data/kaggle_dataset/v2v80211p_NLOS.mat
Data/kaggle_dataset/v2v80211p_LOS.npy
