*pyc
*Tex
partial_movies_files/*.mp4
*.png
manim_animations/MesssagePassing/media/videos/VectorizeDD/*/partial_movie_files
*.txt
manim_animations/MesssagePassing/media/videos/Channel_Matrix/720p30/partial_movie_files/Channel/*.mp4
