*pyc
*Tex
partial_movies_files/*.mp4
*.png
manim_animations/MesssagePassing/media/videos/VectorizeDD/*/partial_movie_files
*.txt
manim_animations/MesssagePassing/media/videos/Channel_Matrix/720p30/partial_movie_files/Channel/*.mp4
manim_animations/Chapter2/media/videos/Equations1/720p30/partial_movie_files/Channel/*.mp4
manim_animations/MesssagePassing/media/videos/Channel_Matrix/1080p60/partial_movie_files/Channel/*.mp4
manim_animations/Chapter2/media/texts/96a9fe330bd31ce3.svg
